*{
    padding:0;
    box-sizing: border-box;
    font-size: 32px;
}

body{
    display: flex;
    flex-direction: column;
    min-height:100vh;
    nav{
        padding: 1rem;
        background-color: #ffb7b7
    }
    main{
        padding: 1rem;
        background-color: #FFFFFF;
        flex: 1;
        text-align: center;
    }
    footer{
        padding: 1rem;
        background-color: rgb(174, 174, 255);

    }
}
h1 {
    display: inline; 
    font-family: Arial, sans-serif;
    text-align: center;
}
.text1{
    color: #A08869;
}
.container {
    display: flex;
    flex-direction: column; /* Cambia la dirección de flex a columna para evitar que se muevan juntos */
    align-items: flex-start; /* Alinea al inicio */
    margin: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img {
    width: 30%;             
    margin-top: 2%;         
    margin-left: 20%;
}

h4 {
    position: relative;
    margin-top: -20%; 
    margin-left: 52.5%; 
    margin-right: -300%;
    width: 50%;
    font-size: 60%; 
    text-align: left;
}

p {
    position: relative;
    text-align: justify;
    font-weight: normal;
    font-size: 48%;
    margin-right: 20%;
    margin-left: 52.5%;
    margin-top: 0%;
}
.horizontal-line {
    border-top: 2px solid #707070; 
    width: 80%;  
    margin: 20px 0;  
    margin-left: 10%;
    margin-top: 7%;
}
.mision{
    margin-left: 57%;
    margin-top: 7%;
    z-index: 1
}
.container1 {
    display: flex;
    align-items: flex-start; /* Alinea los elementos al principio del eje principal (verticalmente) */
    flex-direction: column;  /* Alinea los elementos en una columna para evitar que queden en una fila */
    margin: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    position: relative;
}

h5 {
    margin-top: -20%;
    font-size: 90%;
    align-self: flex-start; 
    margin-left: 18.5%; 
}
.text2 {
    font-weight: bold;  
    color: #A08869;  
}

p1 {
    margin-top: -3.5%;
    font-weight: normal;
    font-size: 48%;
    align-self: flex-start;  
    margin-right: 0;  
    margin-right: 50%;
    margin-left: 17%;
}
.cuadrado {
    border-top: 175px solid #A08869; 
    width: 17%;  
    margin: 20px 0;  
    margin-left: 53%;
    margin-top: 4%;
    position: absolute;
}
.container2 {
    display: flex;
    align-items: flex-start; /* Alinea los elementos al principio del eje principal (verticalmente) */
    flex-direction: column;  /* Alinea los elementos en una columna para evitar que queden en una fila */
    margin: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    position: relative;
    margin-top: 27%;
}
h3 {
 
    margin-top: -20%;
    margin-left: 56.5%;    
    margin-right: 2rem;       
    font-size: 90%;       

}
p2{
    margin-top: -2%;
    font-weight: normal;
    font-size: 48%;
    align-self: flex-start;  
    margin-right: 10%;
    margin-left: 55%;

}
.text3 {
    font-weight: bold;  
    color: #A08869; 
}
.cuadrado1 {
    border-top: 175px solid #A08869; 
    width: 17%;  
    margin: 20px 0;  
    margin-left: 32%;
    margin-top: -1%;
    position: absolute;
}
.vision{
    margin-left: 16%;
    z-index: 1
}
.horizontal-line1 {
    border-top: 2px solid #707070; 
    width: 2.5%;  
    margin: 20px 0;  
    margin-left: 53%;
    margin-top: -13.5%;
}
.horizontal-line2 {
    border-top: 2px solid #707070; 
    width: 2.5%;  
    margin: 20px 0;  
    margin-left: 15%;
    margin-top: -13.5%;
}



h2{
    text-align: center;
    font-size: 80%;
    margin-top: 23%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.preguntas{
    margin-top: 7%;
}
/* inicio del codigo del primer carrusel*/
.extravagant-accordion-container {
    display: flex; /* Mantiene los elementos alineados horizontalmente */
    margin-top: 3%;
    margin-left: 20%;
    align-items: flex-start; /* Alinea el acordeón y el texto en la parte superior */
}

.extravagant-accordion {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px; /* Ancho fijo para el acordeón */
    margin-right: 20px; /* Espacio entre el acordeón y el texto */
}

.acordion-item {
    border-bottom: 1px solid #ddd;
}

.accordion-button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    cursor: pointer;
    font-size: 0.6em;
    transition: background-color 0.3s;
}

.accordion-button:hover {
    background-color: #A7957A;
}

.acordion-content {
    padding: 15px;
    display: none;
    background-color: #f9f9f9;
    font-size: 0.6em;
}

.extravagant-text {
    margin-top: 9%;
    margin-left: 140px; /* Espacio entre el acordeón y el texto */
    font-size: 0.5em;
    color: #333;
    flex-grow: 1; /* Permite que el contenedor de texto use todo el espacio disponible a la derecha */
    max-width: 250px; /* Limita el ancho del texto para que no sea demasiado grande */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
/* inicio del codigo del segundo carrusel*/
.accordion {
    display: flex;
    flex-direction: column;
    width: 75%;
    border-top: 1px solid #e2e8f0;
    margin-left: 18%;
    margin-top: 3%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.lib{
    margin-left:16% ;
    font-size: 60%;
}
.aaa{
    font-size: 0.5rem;
    margin-left: -2%;
    margin: 5%;

}

.accordion-item {
    padding: 5px 0; 
    border-bottom: 1px solid #e2e8f0;
    font-size: 10%;
    margin-left: 20%;
    margin-right: 30%;
}

.accordion-trigger {
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: none;
    font-size: 0.9rem; 
    color: #1f2937;
    cursor: pointer;
    padding: 5px 0; 

}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 5px; /* Reducido el padding a 5px */
    font-size: 0.8rem; /* Reducido de 0.875rem a 0.8rem */
    color: #6b7280;
    transition: max-height 0.5s ease, padding 0.5s ease;
    
    
}

.accordion-trigger:focus {
    outline: none;
}

.accordion-trigger.active + .accordion-content {
    max-height: 300px; 
    padding: 5px 0; 
}

.chevron-up {
    width: 12px; 
    height: 12px;
    transition: transform 0.5s ease-in-out;
}

.chevron-up.active {
    transform: rotate(180deg);
}

.accordion-trigger .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*RESPONSIVE*/

@media screen and (min-width: 1400px) and (max-width: 1920px){
    
    h1{
        font-size: 150%;
    }
    h4{
        font-size: 100%;
    }
    p{
        font-size: 80%;
    }
    h5{
        font-size: 120%;
    }
    p1{
        margin-top: -2.5%;
        font-size: 70%;
    }
    span{
        font-size: 110%;
    }
    .horizontal-line2{
        margin-top: -14%;
    }
    h3{
        font-size: 120%;
    }
    p2{
        margin-top: -1%;
        font-size: 70%;
    }
    .horizontal-line1{
        margin-top: -14%;
    }
    h2{
        font-size: 120%;
    }
    .extravagant-accordion{
        width: 27%;
    }
    .accordion-button{
        font-size: 80%;
    }
    .extravagant-text{
        font-size: 60%;
        max-width: 300px;
    }
    .aaa{
        font-size: 80%;
    }
    .lib{
        font-size: 90%;
    }
}
/* responsive para 1024*/
@media screen and (max-width: 1024px) {
    h1 {
        font-size: 85%; /* Incremento del tamaño del título */
    }
    
    .primero {
        width: 40%; /* Ajuste del ancho */
        margin-left: 12%;
        margin-top: 5%;
    }
    
    h4 {
        font-size: 55%; /* Ajuste del tamaño */
        margin-top: -25%;
        margin-left: 57%;
    }

    p {
        font-size: 45%;
        margin-right: 10%;
        margin-left: 57%;
    }

    h5 {
        font-size: 85%;
        margin-top: -27%;
        margin-left: 18%;
    }

    .text2 {
        font-size: 100%; /* Ajuste para mejor lectura */
    }

    p1 {
        font-size: 45%;
        margin-left: 13%;
    }

    .mision {
        width: 40%;
    }

    .horizontal-line2 {
        margin-top: -23%;
        margin-left: 13%;
        width: 3%;
    }

    .cuadrado {
        border-top: 120px solid #A08869; /* Ajuste del tamaño del cuadrado */
    }

    .vision {
        width: 40%;
        margin-left: 13%;
    }

    h3 {
        font-size: 85%;
        margin-top: -27%;
        margin-left: 66%;
    }

    .text3 {
        font-size: 105%;
    }

    p2 {
        font-size: 45%;
        margin-left: 61%;
        margin-right: 5%;
        margin-top: -1%;
    }

    .cuadrado1 {
        border-top: 120px solid #A08869;
        margin-left: 40%;
    }

    .horizontal-line1 {
        margin-top: -23.5%;
        margin-left: 61%;
        width: 3%;
    }

    h2 {
        font-size: 70%;
    }

    .accordion-button {
        font-size: 50%;
    }

    .extravagant-accordion {
        width: 35%; /* Ajuste del ancho del acordeón */
    }

    .extravagant-text {
        font-size: 45%;
        margin-left: 12%;
        margin-right: -8%;
        margin-top: 12%;
        max-width: 32%;
    }

    .aaa {
        font-size: 45%;
        margin-left: -10%;
        margin-right: -25%;
    }

    .chevron-up {
        width: 18px; /* Ajuste del tamaño del ícono */
        margin-left: 28%;
    }

    .accordion-content {
        margin-right: -30%;
        margin-left: -40%;
    }

    .lib {
        margin-top: 4%;
        font-size: 35%;
        margin-left: 18%;
        margin-right: 25%;
    }
}
/* responsive para 912*/
@media screen and (max-width: 912px) { 
    h1 {
        font-size: 80%; /* Ajuste del tamaño del título */
    }
    
    .primero {
        width: 42%; /* Ajuste del ancho */
        margin-left: 10%;
        margin-top: 6%;
    }
    
    h4 {
        font-size: 50%; /* Ajuste del tamaño */
        margin-top: -26%;
        margin-left: 55%;
    }

    p {
        font-size: 42%;
        margin-right: 10%;
        margin-left: 55%;
    }
    .horizontal-line {
        margin-top: 13%;

    }


    h5 {
        font-size: 80%;
        margin-top: -29%;
        margin-left: 16%;
    }

    .text2 {
        font-size: 95%; /* Ajuste para mejor legibilidad */
    }

    p1 {
        font-size: 45%;
        margin-left: 11%;
    }

    .mision {
        width: 42%;
    }

    .horizontal-line2 {
        margin-top: -25.5%;
        margin-left: 11%;
        width: 4%;
    }

    .cuadrado {
        border-top: 115px solid #A08869; /* Ajuste del tamaño del cuadrado */
    }
    .container2{
        margin-top: 40%;
    }

    .vision {
        width: 42%;
        margin-left: 11%;
    }

    h3 {
        font-size: 80%;
        margin-top: -30%;
        margin-left: 65%;
    }

    .text3 {
        font-size: 100%;
    }

    p2 {
        font-size: 45%;
        margin-left: 60%;
        margin-right:1%;
        margin-top: -1%;
    }

    .cuadrado1 {
        border-top: 115px solid #A08869;
        margin-left: 38%;
        margin-left: 40%;
    }

    .horizontal-line1 {
        margin-top: -26%;
        margin-left: 60%;
        width: 4%;
    }

    h2 {
        font-size: 65%;
        margin-top: 30%;
    }

    .accordion-button {
        font-size: 48%;
    }

    .extravagant-accordion {
        width: 33%; /* Ajuste del ancho del acordeón */
    }

    .extravagant-text {
        font-size: 46%;
        margin-left: 11%;
        margin-right: -7%;
        margin-top: 11%;
        max-width: 30%;
    }

    .aaa {
        font-size: 42%;
        margin-left: -9%;
        margin-right: -22%;
    }

    .chevron-up {
        width: 16px; /* Ajuste del tamaño del ícono */
        margin-left: 26%;
    }

    .accordion-content {
        margin-right: -35%;
        margin-left: -38%;
    }

    .lib {
        margin-top: 3%;
        font-size: 35%;
        margin-left: 17%;
        margin-right: 23%;
    }
}
/* responsive para 853*/
@media screen and (max-width: 853px) {
    h1 {
        font-size: 78%; /* Ajuste leve del tamaño del título */
    }
    
    .primero {
        width: 42%; /* Ajuste del ancho */
        margin-left: 10%;
        margin-top: 5%;
    }
    
    h4 {
        font-size: 50%; /* Ajuste del tamaño */
        margin-top: -25%;
        margin-left: 55%;
    }

    p {
        font-size: 42%;
        margin-right: 10%;
        margin-left: 55%;
    }

    h5 {
        font-size: 62%;
        margin-top: -29%;
        margin-left: 17%;
    }

    .text2 {
        font-size: 102%; /* Ajustado para una mejor lectura */
    }

    p1 {
        font-size: 40%;
        margin-left: 13%;
    }

    .mision {
        width: 40%;
    }

    .horizontal-line2 {
        margin-top: -25%;
        margin-left: 13%;
        width: 3%;
    }

    .cuadrado {
        border-top: 190px solid #A08869; /* Ajuste del tamaño del cuadrado */
        width: 25%;
    }

    .vision {
        width: 40%;
        margin-left: 13%;
    }

    h3 {
        font-size: 62%;
        margin-top: -28.5%;
        margin-left: 63%;
    }

    .text3 {
        font-size: 102%;
    }

    p2 {
        font-size: 40%;
        margin-left: 59%;
        margin-right: 2%;
    }

    .cuadrado1 {
        border-top: 190px solid #A08869;
        margin-left: 32%;
        width: 25%;
        margin-top: -2%;
    }

    .horizontal-line1 {
        margin-top: -23.5%;
        margin-left: 59%;
        width: 2.5%;
    }

    h2 {
        font-size: 68%;
    }

    .accordion-button {
        font-size: 48%;
    }

    .extravagant-accordion {
        width: 34%; /* Ajuste del ancho del acordeón */
    }

    .extravagant-text {
        font-size: 45%;
        margin-left: 9%;
        margin-right: -9%;
        margin-top: 13%;
        max-width: 32%;
    }

    .aaa {
        font-size: 45%;
        margin-left: -11%;
        margin-right: -26%;
    }

    .chevron-up {
        width: 16px; 
        margin-left: 28%;
    }

    .accordion-content {
        margin-right: -50%;
        margin-left: -43%;
    }

    .lib {
        margin-top: 2%;
        font-size: 34%;
        margin-left: 17%;
        margin-right: 26%;
    }
}

/*responsive para 820*/
@media screen and (max-width: 820px) {
    h1 {
        font-size: 75%; /* Reducido el tamaño del título */
    }
    
    .primero {
        width: 40%; /* Ajuste del ancho */
        margin-left: 11%;
        margin-top: 6%;
    }
    
    h4 {
        font-size: 45%; /* Ajuste del tamaño */
        margin-top: -27%;
        margin-left: 55%;
    }

    p {
        font-size: 40%;
        margin-right: 11%;
        margin-left: 55%;
    }

    h5 {
        font-size: 60%;
        margin-top: -28%;
        margin-left: 18%;
    }

    .text2 {
        font-size: 100%; /* Ajustado para una mejor lectura */
    }

    p1 {
        font-size: 38%;
        margin-left: 14%;
    }

    .mision {
        width: 38%;
    }

    .horizontal-line2 {
        margin-top: -25%;
        margin-left: 14%;
    }

    .cuadrado {
        border-top: 110px solid #A08869; /* Ajuste del tamaño del cuadrado */
    }

    .vision {
        width: 38%;
        margin-left: 14%;
    }

    h3 {
        font-size: 58%;
        margin-top: -28%;
        margin-left: 65%;
    }

    .text3 {
        font-size: 100%;
    }

    p2 {
        font-size: 38%;
        margin-left: 61%;
        margin-right: 3%;
    }

    .cuadrado1 {
        border-top: 110px solid #A08869;
        margin-left: 39%;
    }

    .horizontal-line1 {
        margin-top: -22%;
        margin-left: 61%;
    }

    h2 {
        font-size: 65%;
    }

    .accordion-button {
        font-size: 45%;
    }

    .extravagant-accordion {
        width: 32%; /* Ajuste del ancho del acordeón */
    }

    .extravagant-text {
        font-size: 42%;
        margin-left: 10%;
        margin-right: -10%;
        margin-top: 14%;
        max-width: 30%;
    }

    .aaa {
        font-size: 42%;
        margin-left: -12%;
        margin-right: -28%;
    }

    .chevron-up {
        width: 15px; 
        margin-left: 30%;
    }

    .accordion-content {
        margin-right: -55%;
        margin-left: -45%;
    }

    .lib {
        margin-top: 2%;
        font-size: 32%;
        margin-left: 18%;
        margin-right: 28%;
    }
}

/*responsive para 768*/
@media screen and (max-width: 768px) {
    h1{
        font-size: 80%;
    }
    .primero{
        width: 35%;
        margin-left: 13%;
        margin-top: 5%;
    }
    h4{
        font-size: 40%;
        margin-top: -25%;

    }
    p{
        font-size: 35%;
        margin-right: 15%;

    }
    h5{
        font-size: 55%;
        margin-top: -26%;
        margin-left: 16%;
    }
    .text2{
        font-size: 95%;
    }
    p1{
        font-size: 35%;
        margin-left: 12%;
    }
    .mision{
        width: 35%;

    }
    .horizontal-line2{
        margin-top: -22.5%;
        margin-left:12% ;
    }
    .cuadrado{
        border-top: 100px solid #A08869;
    }
    .vision{
        width: 35%;
        margin-left: 12%;
    }
    h3{
        font-size: 55%;
        margin-top: -26%;
        margin-left: 57%;
    }
    .text3{
        font-size: 95%;
    }
    p2{
        font-size: 35%;
        margin-left: 55%;
    }
    .cuadrado1{
        border-top: 100px solid #A08869;
        margin-left: 34%;
    }
    .horizontal-line1{
        margin-top: -24.5%;
    }
    h2{
        font-size: 60%;
    }
    .accordion-button{
        font-size: 40%;
    }
    .extravagant-accordion{
        width: 30%;
    }
    .extravagant-text{
        font-size: 40%;
        margin-left: 8%;
        margin-right: -12%;
        margin-top: 15%;
        max-width: 28%;
    }

    .aaa {
        font-size: 40%;
        margin-left: -15%;
        margin-right: -30%;
    }
    .chevron-up{
        width: 0;
    }
    .accordion-content {
        margin-right: -58%;
        margin-left: -48%;
    }
    .lib {
        margin-top: 0;
        font-size: 28%;
        margin-left: 17%;
        margin-right: 25%;
    }
}
/*responsive para 540*/
@media screen and (max-width: 540px) {
    h1 {
        font-size: 75%;
        margin-left: 3%;
    }
    .primero {
        width: 85%;             
        margin-top: 5%;         
        margin-left: 8%;
    }
    h4 {
        font-size: 60%;
        margin-left: 8%;
        margin-top: 6%;
        width: 100%;
    }
    p {
        font-size: 45%;
        margin-left: 8%;
        margin-top: 3%;
        margin-right: 3%;
    }
    .horizontal-line {
        margin-left: 10%;
        margin-top: 8%;
    }
    h5 {
        font-size: 75%;
        margin-top: -80%;
        margin-left: 32%;
    }
    .text2{
        font-size: 100%;
    }
    span {
        font-size: 100%;
    }
    .mision {
        width: 75%;
        margin-left: 8%;
        margin-top: 30%;
        z-index: 1;
    }
    .cuadrado {
        width: 60%;
        border-top: 190px solid #A08869; 
        margin-left: 32%;
        margin-top: 23%; 
    }
    p1 {
        font-size: 45%;
        margin-right: 3%;
        margin-top: 70%;
        margin-left: 7%;
    }
    h3 {
        font-size: 75%;
        margin-top: -80%;
        margin-left: 32%;
    }
    .text3{
        font-size: 100%;
    }
    .container2 {
        margin-top: 18%;
    }
    .vision {
        width: 75%;
        margin-left: 8%;
        margin-top: 40%;
        z-index: 1;
    }
    .cuadrado1 {
        width: 60%;
        border-top: 190px solid #A08869; 
        margin-left: 33%;
        margin-top: 32%; 
    }
    p2 {
        font-size: 45%;
        margin-right: 3%;
        margin-top: 75%;
        margin-left: 7%;
    }
    h2 {
        margin-top: 25%;
        margin-left: 5%;
        font-size: 70%;
    }
    .preguntas {
        margin-left: 3%;
    }
    .accordion-button {
        font-size: 40%;
    }
    .extravagant-accordion-container {
        margin-left: 13%;
    }
    .extravagant-accordion {
        width: 32%;
    }
    .extravagant-text {
        font-size: 42%;
        margin-left: 7%;
        margin-right: -5%;
        margin-top: 20%;
        max-width: 40%;
    }
    .preguntas {
        font-size: 72%;
        margin-top: 6%;
    }
    .aaa {
        font-size: 42%;
        margin-left: -10%;
        margin-right: -80%;
    }
    .accordion {
        margin-left: 10%;
    }
    .accordion-trigger .flex {
        margin-left: 2%;
    }
    .accordion-content {
        margin-right: -40%;
        margin-left: -8%;
    }
    .lib {
        margin-top: 1%;
        font-size: 42%;
        margin-left: 1%;
        margin-right: -25%;
    }
    .chevron-up {
        width: 14px;
        margin-left: 25%;
    }
    .horizontal-line1{
        width: 0;
    }
    .horizontal-line2{
        width: 0;
    }
}

/* responsive para 430*/

@media screen and (max-width: 430px) {
    h1 {
        font-size: 70%;
        margin-left: 2%;
    }
    .primero {
        width: 87%;             
        margin-top: 6%;         
        margin-left: 9%;
    }
    h4 {
        font-size: 48%;
        margin-left: 9%;
        margin-top: 7%;
        width: 100%;
    }
    p {
        font-size: 42%;
        margin-left: 9%;
        margin-top: 3%;
        margin-right: 4%;
    }
    .horizontal-line {
        margin-left: 11%;
    }
    h5 {
        font-size: 78%;
        margin-top: -84%;
        margin-left: 22%;
    }
    span {
        font-size: 108%;
    }
    .mision {
        width: 78%;
        margin-left: 9%;
        margin-top: 32%;
        z-index: 1;
    }
    .cuadrado {
        width: 43%;
        border-top: 98px solid #A08869; 
        margin-left: 50%;
        margin-top: 25%; 
    }
    p1 {
        font-size: 42%;
        margin-right: 4%;
        margin-top: 70%;
        margin-left: 8%;
    }
    h3 {
        font-size: 78%;
        margin-top: -85%;
        margin-left: 21%;
    }
    .container2 {
        margin-top: 20%;
    }
    .vision {
        width: 78%;
        margin-left: 9%;
        margin-top: 43%;
        z-index: 1;
    }
    .cuadrado1 {
        width: 43%;
        border-top: 98px solid #A08869; 
        margin-left: 50%;
        margin-top: 35%; 
    }
    p2 {
        font-size: 42%;
        margin-right: 4%;
        margin-top: 75%;
        margin-left: 8%;
    }
    h2 {
        margin-top: 20%;
        margin-left: 6%;
        font-size: 75%;
    }
    .preguntas {
        margin-left: 3%;
    }
    .accordion-button {
        font-size: 38%;
    }
    .extravagant-accordion-container {
        margin-left: 14%;
    }
    .extravagant-accordion {
        width: 34%;
    }
    .extravagant-text {
        font-size: 38%;
        margin-left: 6%;
        margin-right: -6%;
        margin-top: 25%;
        max-width: 42%;
    }
    .preguntas {
        font-size: 70%;
        margin-top: 7%;
    }
    .aaa {
        font-size: 42%;
        margin-left: -42%;
        margin-right: -63%;
    }
    .accordion {
        margin-left: 12%;
    }
    .accordion-trigger .flex {
        margin-left: 3%;
    }
    .accordion-content {
        margin-right: -42%;
        margin-left: -32%;
    }
    .lib {
        margin-top: 0;
        font-size: 42%;
        margin-left: 0%;
        margin-right: -26%;
    }
    .chevron-up {
        width: 0;
    }
    .horizontal-line1{
        width: 0;
    }
    .horizontal-line2{
        width: 0;
    }
}
/*responsive para 414*/

@media screen and (max-width: 414px) {
    h1 {
        font-size: 65%;
        margin-left: 2%;
    }
    .primero {
        width: 85%;             
        margin-top: 7%;         
        margin-left: 10%;
    }
    h4 {
        font-size: 45%;
        margin-left: 10%;
        margin-top: 9%;
        width: 100%;
    }
    p {
        font-size: 40%;
        margin-left: 10%;
        margin-top: 4%;
        margin-right: 5%;
    }
    .horizontal-line {
        margin-left: 12%;
    }
    h5 {
        font-size: 75%;
        margin-top: -78%;
        margin-left: 23%;
    }
    span {
        font-size: 105%;
    }
    .mision {
        width: 75%;
        margin-left: 12%;
        margin-top: 28%;
        z-index: 1;
    }
    .cuadrado {
        width: 42%;
        border-top: 95px solid #A08869; 
        margin-left: 53%;
        margin-top: 20%; 
    }
    p1 {
        font-size: 40%;
        margin-right: 5%;
        margin-top: 60%;
        margin-left: 9%;
    }
    h3 {
        font-size: 75%;
        margin-top: -78%;
        margin-left: 23%;
    }
    .container2 {
        margin-top: 25%;
    }
    .vision {
        width: 75%;
        margin-left: 12%;
        margin-top: 28%;
        z-index: 1;
    }
    .cuadrado1 {
        width: 42%;
        border-top: 95px solid #A08869; 
        margin-left: 53%;
        margin-top: 20%; 
    }
    p2 {
        font-size: 40%;
        margin-right: 5%;
        margin-top: 68%;
        margin-left: 9%;
    }
    h2 {
        margin-top: 20%;
        margin-left: 7%;
        font-size: 70%;
    }
    .preguntas {
        margin-left: 3%;
    }
    .accordion-button {
        font-size: 35%;
    }
    .extravagant-accordion-container{
        margin-left: 15%;
    }
    .extravagant-accordion {
        width: 32%;
    }
    .extravagant-text {
        font-size: 35%;
        margin-left: 5%;
        margin-right: -8%;
        margin-top: 28%;
        max-width: 40%;
    }
    .preguntas {
        font-size: 65%;
        margin-top: 9%;
    }
    .aaa {
        font-size: 40%;
        margin-left: -45%;
        margin-right: -65%;
    }
    .accordion {
        margin-left: 14%;
    }
    .accordion-trigger .flex {
        margin-left: 4%;
    }
    .accordion-content {
        margin-right: -45%;
        margin-left: -35%;
    }
    .lib {
        margin-top: 0;
        font-size: 40%;
        margin-left: 0%;
        margin-right: -28%;
    }
    .chevron-up {
        width: 0;
    }
    .horizontal-line1{
        width: 0;
    }
    .horizontal-line2{
        width: 0;
    }
}
/* responsive para 390*/

@media screen and (max-width: 390px) {
    h1 {
        font-size: 63%;
        margin-left: 3%;
    }
    .primero {
        width: 83%;             
        margin-top: 7%;         
        margin-left: 11%;
    }
    h4 {
        font-size: 43%;
        margin-left: 9%;
        margin-top: 8%;
        width: 100%;
    }
    p {
        font-size: 38%;
        margin-left: 9%;
        margin-top: 4%;
        margin-right: 5%;
    }
    .horizontal-line {
        margin-left: 11%;
    }
    h5 {
        font-size: 73%;
        margin-top: -76%;
        margin-left: 22%;
    }
    span {
        font-size: 103%;
    }
    .mision {
        width: 73%;
        margin-left: 13%;
        margin-top: 27%;
        z-index: 1;
    }
    .cuadrado {
        width: 41%;
        border-top: 93px solid #A08869; 
        margin-left: 52%;
        margin-top: 19%; 
    }
    p1 {
        font-size: 38%;
        margin-right: 5%;
        margin-top: 59%;
        margin-left: 9%;
    }
    h3 {
        font-size: 73%;
        margin-top: -76%;
        margin-left: 22%;
    }
    .container2 {
        margin-top: 20%;
    }
    .vision {
        width: 73%;
        margin-left: 13%;
        margin-top: 27%;
        z-index: 1;
    }
    .cuadrado1 {
        width: 41%;
        border-top: 93px solid #A08869; 
        margin-left: 52%;
        margin-top: 19%; 
    }
    p2 {
        font-size: 38%;
        margin-right: 5%;
        margin-top: 66%;
        margin-left: 9%;
    }
    h2 {
        margin-top: 20%;
        margin-left: 7%;
        font-size: 68%;
    }
    .preguntas {
        margin-left: 3%;
    }
    .accordion-button {
        font-size: 33%;
    }
    .extravagant-accordion-container {
        margin-left: 14%;
    }
    .extravagant-accordion {
        width: 31%;
    }
    .extravagant-text {
        font-size: 33%;
        margin-left: 6%;
        margin-right: -7%;
        margin-top: 27%;
        max-width: 39%;
    }
    .preguntas {
        font-size: 63%;
        margin-top: 8%;
    }
    .aaa {
        font-size: 38%;
        margin-left: -44%;
        margin-right: -64%;
    }
    .accordion {
        margin-left: 13%;
    }
    .accordion-trigger .flex {
        margin-left: 3%;
    }
    .accordion-content {
        margin-right: -43%;
        margin-left: -34%;
    }
    .lib {
        margin-top: 0;
        font-size: 38%;
        margin-left: 0%;
        margin-right: -27%;
    }
    .chevron-up {
        width: 0;
    }
    .horizontal-line1{
        width: 0;
    }
    .horizontal-line2{
        width: 0;
    }
}
/* responsive para 375*/
@media screen and (max-width: 375px){
    h1{
        font-size: 60%;
        margin-left: 2%;
    }
    .primero {
        width: 80%;             
        margin-top: 8%;         
        margin-left: 12%;
    }
    h4{
        font-size: 40%;
        margin-left: 12%;
        margin-top: 10%;
        width: 100%;
    }
    p{
        font-size: 35%;
        margin-left: 12%;
        margin-top: 5%;
        margin-right: 5%;
    }
    .horizontal-line{
        margin-left: 14%;
    }
    h5{
        font-size: 70%;
        margin-top: -80%;
        margin-left: 25%;
    }
    span{
        font-size: 100%;
    }
    .mision{
        width: 72%;
        margin-left: 14%;
        margin-top: 30%;
        z-index: 1
    }
    .cuadrado{
        width: 40%;
        border-top: 100px solid #A08869; 
        margin-left: 55%;
        margin-top: 21%; 
    }
    p1{
        font-size: 35%;
        margin-right: 5%;
        margin-top: 65%;
        margin-left: 11%;
    }
    h3{
        font-size: 70%;
        margin-top: -80%;
        margin-left: 25%;
    }
    .container2{
        margin-top: 19%;
    }
    .vision{
        width: 72%;
        margin-left: 14%;
        margin-top: 30%;
        z-index: 1
    }
    .cuadrado1{
        width: 40%;
        border-top: 100px solid #A08869; 
        margin-left: 55%;
        margin-top: 21%; 
    }
    p2{
        font-size: 35%;
        margin-right: 5%;
        margin-top: 70%;
        margin-left: 11%;
    }
    h2{
        margin-top: 10%;
        margin-left: 8%;
        font-size: 65%;
    }
    .preguntas{
        margin-left: 4%;
    }
    .accordion-button{
        font-size: 30%;
    }
    .extravagant-accordion{
        width: 30%;

    }
    .extravagant-text {
        font-size: 30%;
        margin-left: 5%;
        margin-right: -10%;
        margin-top: 30%;
        max-width: 35%;
    }
    .preguntas{
        font-size: 60%;
        margin-top: 10%;
    }
    .aaa{
        font-size: 35%;
        margin-left: -50%;
        margin-right: -70%;
    }
    .accordion{
        margin-left: 15%;
    }
    .accordion-trigger .flex{
        margin-left: 5%;
    }
    .accordion-content{
        margin-right: -50%;
        margin-left: -40%;
    }
    .lib{
        margin-top: 0;
        font-size: 35%;
        margin-left: 0%;
        margin-right: -30%;
    }
    .chevron-up{
        width: 0;
    }
    .horizontal-line1{
        width: 0;
    }
    .horizontal-line2{
        width: 0;
    }

}
/* responsive para 360*/

@media screen and (max-width: 360px) {
    h1 {
        font-size: 55%;
        margin-left: 3%;
    }
    .primero {
        width: 78%;             
        margin-top: 9%;         
        margin-left: 15%;
    }
    h4 {
        font-size: 38%;
        margin-left: 14%;
        margin-top: 11%;
        width: 100%;
    }
    p {
        font-size: 32%;
        margin-left: 14%;
        margin-top: 7%;
        margin-right: 7%;
    }
    .horizontal-line {
        margin-left: 16%;
    }
    h5 {
        font-size: 65%;
        margin-top: -82%;
        margin-left: 29%;
    }
    span {
        font-size: 95%;
    }
    .mision {
        width: 68%;
        margin-left: 17%;
        margin-top: 31%;
        z-index: 1;
    }
    .cuadrado {
        width: 45%;
        border-top: 110px solid #A08869; 
        margin-left: 48%;
        margin-top: 24%; 
    }
    p1 {
        font-size: 32%;
        margin-right: 7%;
        margin-top: 72%;
        margin-left: 15%;
    }
    h3 {
        font-size: 60%;
        margin-top: -80%;
        margin-left: 28%;
    }
    .container2 {
        margin-top: 30%;
    }
    .vision {
        width: 68%;
        margin-left: 17%;
        margin-top: 25%;
        z-index: 1;
    }
    .cuadrado1 {
        width: 45%;
        border-top: 110px solid #A08869; 
        margin-left: 48%;
        margin-top: 17%; 
    }
    p2 {
        font-size: 32%;
        margin-right: 7%;
        margin-top: 75%;
        margin-left: 15%;
    }
    h2 {
        margin-top: 12%;
        margin-left: 11%;
        font-size: 55%;
    }
    .preguntas {
        margin-left: 5%;
    }
    .accordion-button {
        font-size: 28%;
    }
    .extravagant-accordion-container {
        margin-left: 20%;
        margin-right: -18%;
    }
    .extravagant-accordion {
        width: 26%;
    }
    .extravagant-text {
        font-size: 28%;
        margin-left: 2%;
        margin-right: -12%;
        margin-top: 22%;
        max-width: 28%;
    }
    .preguntas {
        font-size: 50%;
        margin-top: 15%;
    }
    .aaa {
        font-size: 28%;
        margin-left: -58%;
        margin-right: -78%;
    }
    .accordion {
        margin-left: 18%;
    }
    .accordion-trigger .flex {
        margin-left: 8%;
    }
    .accordion-content {
        margin-right: -40%;
        margin-left: -45%;
    }
    .lib {
        margin-top: 0;
        font-size: 28%;
        margin-left: 0%;
        margin-right: -35%;
    }
    .chevron-up {
        width: 0;
    }
    .horizontal-line1{
        width: 0;
    }
    .horizontal-line2{
        width: 0;
    }
}
/* responsive para 344*/
@media screen and (max-width: 344px){
    h5{
        font-size: 55%;
        margin-top: -75%;
    }
    .cuadrado{
        margin-top: 20%;
    }
    .mision{
        margin-top: 28%;
    }
    p1{
        margin-top: 60%;
    }
    .container{
        margin-top: 70%;
    }
    .container2{
        margin-top: 40%;
    }
    h3{
        font-size: 55%;
        margin-top: -80%;
    }
    h2{
        font-size: 50%;
        margin-left: 10%;
    }
    .extravagant-accordion{
        width: 25%;
        margin: 0%;
    }
    .accordion-button{
        font-size: 25%;

    }
    .extravagant-text{
        margin-left: 6%;
        margin-top: 25%;

    }
    .extravagant-accordion-container {
        margin-left: 20%;
        margin-right: -35%;
    }
    .accordion{
        margin-left: 30%;
    }
    .lib{
        margin-left: 4%;
        margin-right: 8%;
    }
    .horizontal-line1{
        width: 0;
    }
    .horizontal-line2{
        width: 0;
    }
}

    

